.pricing-banner {
  @apply bg-primary-50;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 2px),
    calc(100% - 100px) 100%,
    0 calc(100% - 50px)
  );
  position: relative;

  &::before {
    @apply content-[''] absolute top-0 left-0 right-0 h-[100px] bg-primary-50 z-[2];
    // Adjust the height value based on your header height
  }

  > * {
    @apply relative bg-primary-50 z-[3];
  }
}

// Override header styles when on contact page
body:has(.pricing-banner) {
  header {
    background-color: transparent !important;
    z-index: 10;

    * {
      color: hsl(var(--foreground));
    }
  }
}

// .clip-path-pricing {
//   clip-path: polygon(0 20px, 100% 0, 100% calc(100% - 20px), 0 100%);
// }
.clip-path-pricing-left-to-right {
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
